﻿@model Codezync.Pos.Data.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "_CreateCustomer";
    Layout = null;
}


@using (Html.BeginForm("CreateCustomer", "Customer", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    @Html.HiddenFor(h=>h.IsDeleted)

    <div class="row">
        <div class="col-md-3">
            <input type="file" id="profile-image-upload" class="form-control" name="file" />
            <img id="profile-image" src="@(string.IsNullOrEmpty(Model.CustomerImgeUrl) == true ? "/assets/images/profile_pic_avatar.jpg": Model.CustomerImgeUrl)" class="img-thumbnail"  style="width:150px;" />
        </div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(model => model.Name)


                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Customer Name" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">

                @Html.LabelFor(model => model.Phone)


                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "Enter Customer Phone" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
            <input type="submit" class="btn btn-success" value="Submit" />
            <a onclick="closeForm()" class="btn btn-danger" >Close</a>

        </div>
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Email)


                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter Customer Email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address)


                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Enter Customer Address" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    
}

<script>
    $('#profile-image-upload').hide();
    $('#profile-image').on('click', function () {
        $('#profile-image-upload').click();
    });
    $("#profile-image-upload").change(function () {
        readURL(this);
    });

    

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profile-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

