﻿@using PagedList.Mvc
@model PagedList.IPagedList<Codezync.Pos.Data.ViewModels.CustomerViewModel>
@{
    ViewBag.Title = "";
}

<div class="table-responsive">
    <table class="table color-table muted-table">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="customerTbl" onclick="showCustomer(this)" id="@item.Id">
                    <td >@item.Id</td>
                    <td><img class="img-circle" src="@(string.IsNullOrEmpty(item.CustomerImgeUrl) == true ? "/assets/images/profile_pic_avatar.jpg": item.CustomerImgeUrl)" style="width:30px;height:30px;" /></td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Phone</td>
                </tr>
            }


        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount (Total: @Model.TotalItemCount)
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, filter = ViewBag.Filter, SearchString = ViewBag.SearchString, SearchBy = ViewBag.SearchByString }))


</div>
