﻿@model Codezync.Pos.Data.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "";
}
<div class="row">
    <div class="col-md-4">
        <img style="width:50px;height:50px;" class="img-circle" src="@(string.IsNullOrEmpty(Model.CustomerImgeUrl) == true ? "/assets/images/profile_pic_avatar.jpg": Model.CustomerImgeUrl)" />
        <h2>@Model.Name</h2>
        <label><strong>Email</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>@Model.Email</span>
        <br />
        <label><strong>Phone</strong></label>&nbsp;&nbsp;&nbsp;<span>@Model.Phone</span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <a data-toggle="tooltip" data-original-title="Edit Customer" class="btn btn-success" id="@Model.Id" onclick="editCustomerForThisId(this)">
                    <span class=""><i class="fa fa-edit"></i></span>
                </a>
                <a data-toggle="tooltip" data-original-title="Remove Customer" class="btn btn-danger" href="@Url.Action("DeleteCustomer", "Customer", new { customerId = Model.Id })">
                    <span class=""><i class="fa fa-remove"></i></span>
                </a>
                <a data-toggle="tooltip" data-original-title="Set Customer" class="btn btn-primary" href="@Url.Action("SetCustomer", "Customer", new { customerId = Model.Id })">
                    <span><i class="fa fa-save (alias)"></i></span>
                </a>
            </div>
        </div>
    </div>


</div>
