﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Header*@
<div class="row">
    <div class="col-md-1">


    </div>
    <div class="col-md-10">
        <div class="breadcrumb bc-colored  bg-info">
            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary" href="@Url.Action("Index","POS")">
                        <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
                        Cancel
                    </a>                   
                </div>
                <div class="col-md-1">
                    
                    <button onclick="addNewCustomer()" class="btn btn-primary" type="button">
                        <span><i class="fa fa-user-plus"></i></span>
                    </button>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            @using (Html.BeginForm("Index", "Customer", FormMethod.Post, new { @class = "form-inline" }))
                            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <input type="text" class="form-control" name="searchKey" placeholder="Search...">
                            <span class="input-group-btn">
                                <button onclick="searchCustomers()" class="btn btn-primary" type="submit">
                                    <span class="btn-label"><i class="fa fa-search"></i></span>
                                </button>
                            </span>
                            }

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="col-md-1">


    </div>

</div>
<br />
@*add customer form*@
<div class="row">

    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-block">
                <div id="addCustomerDiv" class="">
                    @Html.Action("CreateCustomer", "Customer")

                </div>
                <div id="editCustomerDivRow" class="row">
                    <div id="editCustomerDiv">
                        @Html.Action("EditCustomer", "Customer")
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
    </div>
</div>

@*customer view*@
<div id="viewCustomerDiv" class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-block">

                <div id="viewCustomerConainerDiv" class="">
                    @Html.Action("ViewCustomer", "Customer")
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1">

    </div>
</div>

@*customer list*@
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-block">
                @Html.Action("CustomerList", "Customer")

            </div>
        </div>
    </div>

    <div class="col-md-1">

    </div>
</div>

<script>

    //On first load
    $('#addCustomerDiv').hide();
    $('#viewCustomerDiv').hide();
    $('#editCustomerDivRow').hide();

    //showCustomer
    function showCustomer(e) {

        $('#viewCustomerDiv').show();
        $('#addCustomerDiv').hide();
        $('#editCustomerDivRow').hide();
        $.get('@Url.Action("ViewCustomer", "Customer")?customerId=' + e.id, function (data) {
            $('#viewCustomerConainerDiv').html(data);
        });
    }

    //
    function closeForm() {
        $('#addCustomerDiv').hide();
    }
    function closeEditForm() {
        $('#editCustomerDivRow').hide();
    }

    //addNewCustomer
    function addNewCustomer() {
        $('#viewCustomerDiv').hide();
        $('#addCustomerDiv').show();
    }

    function editCustomerForThisId(e) {

        $('#editCustomerDivRow').show();
        $('#viewCustomerDiv').hide();
        $.get( '@Url.Action("EditCustomer", "Customer")?customerId=' + e.id, function (data) {
            $('#editCustomerDiv').html(data);
            });
    }

    //for file upload
    // Basic
    $('.dropify').dropify();

    // Translated
    $('.dropify-fr').dropify({
        messages: {
            default: 'Glissez-déposez un fichier ici ou cliquez',
            replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
            remove: 'Supprimer',
            error: 'Désolé, le fichier trop volumineux'
        }
    });

    // Used events
    var drEvent = $('#input-file-events').dropify();

    drEvent.on('dropify.beforeClear', function (event, element) {
        return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
    });

    drEvent.on('dropify.afterClear', function (event, element) {
        alert('File deleted');
    });

    drEvent.on('dropify.errors', function (event, element) {
        console.log('Has Errors');
    });

    var drDestroy = $('#input-file-to-destroy').dropify();
    drDestroy = drDestroy.data('dropify')
    $('#toggleDropify').on('click', function (e) {
        e.preventDefault();
        if (drDestroy.isDropified()) {
            drDestroy.destroy();
        } else {
            drDestroy.init();
        }
    });

</script>