﻿@model Codezync.Pos.Data.ViewModels.ProductCategoryViewModel



<div class="card">
    <div class="card-block">
        <h4 class="card-title">Add/ Edit/ Delete Catgories</h4>
        <h6 class="card-subtitle">Select the Catgory from the list to edit</h6>
        @using (Html.BeginForm((string)ViewBag.Action, "ProductCategories", FormMethod.Post, new { @class = "", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Code)
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)
                <div class="">
                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">

                    <div class="form-check">
                        <label class="custom-control custom-checkbox">
                           @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Is Active</span>
                        </label>
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CategoryImgeUrl)
                <input type="file" id="profile-image-upload" class="form-control" name="file" />
            </div>
            @Html.HiddenFor(h=>h.CreatedDate)
            @Html.HiddenFor(h => h.IsDeleted)
            @Html.HiddenFor(h => h.Id)
            @Html.HiddenFor(h => h.UpdatedDate)
            @Html.HiddenFor(h => h.CategoryImgeUrl)


            <div class="text-left">
                <button type="submit" value=@(string.IsNullOrEmpty(ViewBag.Action)?"Add":ViewBag.Action) class="btn btn-success waves-effect waves-light m-r-10">@(string.IsNullOrEmpty(ViewBag.Action) ? "Add" : ViewBag.Action)</button>
            </div>
        }

    </div>
</div>

