﻿@using PagedList.Mvc
@model PagedList.IPagedList<Codezync.Pos.Data.ViewModels.ProductCategoryViewModel>

<div class="card">
    <div class="card-block">
        <div class="">
            <div class="cl-md-10">
                <h4 class="card-title">Product Categories</h4>
                <h6 class="card-subtitle">Select Product Category to edit</h6>
            </div>
            <div class="cl-md-2">
                <a class="btn btn-success" href="@Url.Action("Create","ProductCategories")">Create New Category</a>

            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table color-table primary-table">
                <thead>
                    <tr>
                        <th>Code </th>
                        <th>Name</th>
                        <th>Is Active</th>
                        <th>Description</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <Td>@Html.DisplayFor(modelItem => item.Name)</Td>
                            <Td>@Html.DisplayFor(modelItem => item.IsActive)</Td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "ProductCategories", new {id = item.Id})" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a href="@Url.Action("Delete", "ProductCategories", new {id = item.Id})" data-toggle="tooltip" data-original-title="Close">
                                    <i class="fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount (Total: @Model.TotalItemCount)
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, filter = ViewBag.Filter, SearchString = ViewBag.SearchString, SearchBy = ViewBag.SearchByString }))


        </div>
    </div>
</div>

