﻿@model Codezync.Pos.Data.ViewModels.ProductCategoryViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-6">
        @Html.Action("List")
    </div>
    <div class="col-lg-6">
        @{Html.RenderPartial("_CreateEditPartial");}
    </div>
</div>

