﻿@using PagedList.Mvc
@model PagedList.IPagedList<Codezync.Pos.Data.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="card">

            <div class="card-block">

                <h4 class="card-title">Users List</h4>
                <h6 class="card-subtitle"> List of available System Users </h6>
                <div class="clearfix"></div>

                <br />

                <div class="row" style="margin-bottom:10px">
                    <div class="col-md-12 col-xs-12">


                        @using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "form-inline" }))
                        {



                            @Html.AntiForgeryToken()


                            <label for="SearchString">Filter&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" class="form-control" id="SearchString" name="SearchString" value="@ViewBag.SearchString">



                            <label for="SearchBy"> By:</label>
                            @Html.DropDownList("SearchBy", null, htmlAttributes: new { @class = "form-control" })

                            <div>
                                <div class="col-md-1"></div>
                                <button type="submit" class="btn btn-primary" style="margin:5px">Go!</button>
                                @Html.ActionLink("Reset", "Index", null, new { @class = "btn btn-primary" })
                            </div>

                        }

                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table color-table primary-table">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    Email
                                </th>

                                <th>
                                    Roles
                                </th>

                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)

                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @foreach (var role in item.ListOfRoles)
                                        {
                                            @role<br />
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action( "Edit", new { id = item.Id })" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i></a>
                                        <a href="@Url.Action( "Delete", new { id = item.Id })" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>



                </div>

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount (Total: @Model.TotalItemCount)

                @Html.PagedListPager(Model, page => Url.Action("", new { page = page, filter = ViewBag.Filter, SearchString = ViewBag.SearchString, SearchBy = ViewBag.SearchByString, ProductCategoryId = ViewBag.ProductCategory }))







            </div>
        </div>


    </div>

</div>




