﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Header*@
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="breadcrumb bc-colored  bg-info">
            <div class="row">
                <div class="col-md-5">
                    <a class="btn btn-primary" href="@Url.Action("Index","POS")">
                        <span class="btn-label"><i class="fa fa-arrow-left"></i></span>
                        Back
                    </a>
                </div>
                <div class="col-md-2">
                    <h2 style="color:#ffffff;">Payments</h2>
                </div>
                <div class="col-md-5">

                </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-1">
    </div>

</div>
<br />
@*payment selection*@
<div class="row">

    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <button onclick="getCurrentPaymentType()" type="button" class="btn btn-block btn-lg btn-success">CASH PAYMENTS</button>
                    </div>
                    <div class="col-md-6">
                        <button onclick="showCardPayments()" type="button" class="btn btn-block btn-lg btn-success">CARD PAYMENTS</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-1">

    </div>
</div>

@*payment sumery list*@
<div class="row">

    <div class="col-md-1">
        <span id="customerId"></span>
    </div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    @*@Html.Action("CustomerList", "Customer")*@
                    <div id="cashPayDiv" class="table-responsive">
                        <table class="table color-table muted-table">
                           
                            <thead>
                                <tr>
                                    <td>Due</td>
                                    <td>Tendered</td>
                                    <td>DiscountRate</td>
                                    <td>Change</td>
                                    <td>Total With Discounts</td>
                                    <td>Method</td>
                                    <td>Action</td>
                                </tr>
                                <tr>
                                    <th><label><strong id="due">0.00</strong></label></th>
                                    <th><input id="payed" type="text" placeholder="00.00" class="form-control"/></th>
                                    <th><input id="rate" type="number" placeholder="00.00" class="form-control" /></th>
                                    <th><label><strong id="change">0.0</strong></label></th>
                                    <th><label><strong id="net_total">0.00</strong></label></th>
                                    <th><label><strong>CASH</strong></label></th>
                                    <th><button onclick="saveAsCashPayment()"><i class="fa fa-save (alias)"></i></button></th>
                                </tr>
                            </thead>
                        </table>                      

                    </div>

                    <div id="cardPayDiv" class="table-responsive">
                        <table class="table color-table muted-table">

                            <thead>
                                <tr>
                                    <td>Due</td>
                                    <td>Card Reference#</td>
                                    <td>DiscountRate</td>
                                    <td>Total With Discounts</td>
                                    <td>Method</td>
                                    <td>Action</td>
                                </tr>
                                <tr>
                                    <th><label><strong id="cardDue">0.00</strong></label></th>
                                    <th><input id="cardRef" type="text" placeholder="00000" class="form-control" /></th>
                                    <th><input id="cardRate" type="number" placeholder="00.00" class="form-control" /></th>
                                    <th><label><strong id="net_total_card">0.00</strong></label></th>                                    
                                    <th><label><strong>CARD</strong></label></th>
                                    <th><button onclick="saveAsCardPayment()"><i class="fa fa-save (alias)"></i></button></th>
                                </tr>
                            </thead>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1">

    </div>
</div>

@*invoice button*@
<div class="row">

    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-danger" href="@Url.Action("Invoice","Payment")">
                    <span class="btn-label"><i class="fa fa-file-text"></i></span>
                    Invoice
                </a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="col-md-1">

    </div>
</div>

<script>

    init()

    function showCashPayments() {
        $('#cashPayDiv').show();
        $('#cardPayDiv').hide();
    }

    function showCardPayments() {
        $('#cashPayDiv').hide();
        $('#cardPayDiv').show();
    }
    function getCurrentPaymentType() {
       

        $.getJSON('/Payment/GetCurrentPaymentType', function (data) {
            if (data == 1) {
                showCardPayments()
            } else {
                showCashPayments()
            }
            
        });
    }
    function init() {

        getCurrentPaymentType();


        $('#customerId').hide();

        $.getJSON('/Payment/GetCurrentCartData', function (data) {
            $('#due').text(data.total);
            $('#cardDue').text(data.total);
            $('#customerId').text(data.customerId); 
        });
    }

    function saveAsCardPayment() {

       
        var due = $('#due').text();
        var value = $("#cardRef").val();
        var customerId = $('#customerId').text();
        var discountRate = $('#cardRate').val(); 

        if (value == '') {
            alert('Please add card reference number!');
        } else {
            $.ajax({
                type: 'POST',
                url: '/Payment/SaveAsCardPayment',
                data: { 'cardReference': value, 'total': due, 'customerId': customerId ,'discountRate': discountRate },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        alert('Card Payment Saved!');
                    }
                }
            });
        }
        
    }
    function saveAsCashPayment() {
        var due = $('#due').text();
        var value = $("#payed").val();
        var customerId = $('#customerId').text(); 
        var discountRate = $('#rate').val(); 

        if (value == '') {
            alert('Please add cash amount paid!');
        } else {
            $.ajax({
                type: 'POST',
                url: '/Payment/SaveAsCashPayment',
                data: { 'paidAmount': value, 'total': due, 'customerId': customerId, 'discountRate': discountRate },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        alert('Cash Payment Saved!');
                    }
                }
            }); 
        }

       
       
    }

   

    $('#payed').keyup(function () {
        
        var due = $('#due').text();
        var value = $("#payed").val();
        var discount = $("#rate").val();
        var totalwithDiscounts = due - ((discount/100) * due);
        
        var balance = value - totalwithDiscounts;

        //balance
        $('#change').text(balance);
        //total with Discounts
        $('#net_total').text(totalwithDiscounts);

        
        
    });

    $('#rate').keyup(function () {

        var due = $('#due').text();
        var value = $("#payed").val();
        var discount = $("#rate").val();
        var totalwithDiscounts = due - ((discount / 100) * due);

        var balance = value - totalwithDiscounts;

        //balance
        $('#change').text(balance);
        //total with Discounts
        $('#net_total').text(totalwithDiscounts);
        

    });
    $('#cardRate').keyup(function () {

        //for car payemts
        var cardDue = $('#cardDue').text();
        var cardRate = $('#cardRate').text();
        var totalwithDiscounts_card = cardDue - ((discount/100) * cardDue);
        //total with Discounts
        $('#net_total_card').text(totalwithDiscounts_card);


    });

</script>