﻿@model Codezync.Pos.Data.ViewModels.InvoiceSumeryViewModel
@{
    ViewBag.Title = "Invoice";
}

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="card card-block printableArea">
            <h3><b>INVOICE</b> <span class="pull-right">@Model.OrderId</span></h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <address>
                            <h3> &nbsp;<b class="text-danger">@Model.Customer.Name</b></h3>
                            <p class="text-muted m-l-5">
                                @Model.Customer.Address
                            </p>
                            <p class="text-muted m-l-5">
                                @Model.Customer.Email
                            </p>
                            <p class="text-muted m-l-5">
                                @Model.Customer.Phone
                            </p>
                        </address>
                    </div>
                    <div class="pull-right text-right">
                        <address>                           
                            <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> @Model.Date</p>
                        </address>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Description</th>
                                    <th class="text-right">Quantity</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderedItems)
                                {
                                    <tr>
                                        <td class="text-center">@item.Id</td>
                                        <td>@item.Product.Name</td>
                                        <td class="text-right"> @item.Quantity </td>
                                        <td class="text-right"> @item.Price </td>
                                    </tr>

                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <p>Sub - Total amount: $13,848</p>
                        <p>Discount Rate : 1.2% </p>
                        <p>Paid Amount :  </p>
                        <hr>
                        <h3><b>Total :</b> $13,986</h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    
                </div>
            </div>
        </div>
        <div class="text-right">
            <a class="btn btn-danger" href="@Url.Action("Index","POS")"> Next Order </a>
            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
        </div>
    </div>
    <div class="col-md-2">

    </div>
</div>

<script src="~/js/jquery.PrintArea.js"></script>
<script>
    $(document).ready(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
</script>

