﻿@model IEnumerable<Codezync.Pos.Data.ViewModels.ItemCartViewModel>
@{
    ViewBag.Title = "_cartList";
}

<style>
    .span3 {
        height: 150px !important;
        overflow-y: scroll;
    }
</style>
<table class="table table-striped ">
    <thead>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Price</th>
            <th class="text-nowrap"></th>
        </tr>
    </thead>
</table>
<div class="span3">
    <table class="table table-striped ">

        <tbody id="tbl" class="span3">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Description </td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td class="text-nowrap">
                        <a id="@item.ProductId" onclick="removeItem(this)" data-toggle="tooltip" data-original-title="Remove"> <i class="fa fa-close text-danger"></i> </a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>



