﻿@model Codezync.Pos.Data.ViewModels.CartSummeryViewModel
@{
    ViewBag.Title = "_CartSummmery";
}

<table class="table table-striped">
    <tbody>
        <tr>
            <td><h4>Total</h4></td>
            <td></td>
            <td><h4>@Model.TotalAmount</h4></td>
            <td class="text-nowrap"></td>
        </tr>
    </tbody>
</table>

