﻿@model IEnumerable<Codezync.Pos.Data.ViewModels.ProductCategoryViewModel>
@{
    ViewBag.Title = "_Categories";
}

@foreach (var productCat in Model)
{
        <div class="col-md-4" id="@productCat.Code">
            <div class="card">
                <a onclick="loadProductsForThisId(this)" id="@productCat.Id" data-code="@productCat.Code">
                    <div class="card-block">
                        <div class="d-flex flex-row">
                            <div class="">
                                <img class="img-responsive" style="height:40px;width:40px;" src="@productCat.CategoryImgeUrl" />
                            </div>
                            <div class="m-l-10 align-self-center">
                                <h3 class="m-b-0">@productCat.Description</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>



}


<script>
    

    
    //$('#FOODS').click(function (e) {
    //    $("#bev").hide();
    //    $("#db").hide();
    //    $("#sta").hide();
    //    $("#food").show();
    //});
    //$('#STATINARIES').click(function (e) {
    //    $("#bev").hide();
    //    $("#db").hide();
    //    $("#food").hide();
    //    $("#sta").show();
    //});
    //$('#BEVERAGES').click(function (e) {
    //    $("#bev").show();
    //    $("#db").hide();
    //    $("#food").hide();
    //    $("#sta").hide();        
    //});
    
</script>