﻿@model IEnumerable<Codezync.Pos.Data.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "";
}


<div class="row" >
@foreach (var product in Model)
{
    <div class="col-lg-3" id="@product.Code">
        <div class="card">
            <a id="@product.Id" onclick="addThisProductToCart(this)">                
                <div class="">
                    <div class="">
                        <img class="img-thumbnail" style="width:150px;height:100px;" src="@product.ImageUrl" />
                    </div><br />
                    <h5 style="text-align:center;" class="card-title">@product.Description</h5>
                </div>
            </a>
        </div>
    </div>
}
</div>

@*<div class="row" id="food">
    <div class="col-lg-3">
        <div class="card">
            <a>
                <div class="">
                    <div class="">
                        <img class="img-thumbnail" src="~/Assets/images/users/2.jpg" />
                    </div><br />
                    <h5 style="text-align:center;" class="card-title">Chocolate</h5>
                    <h3>100.00</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <a>
                <div class="">
                    <div class="">
                        <img class="img-thumbnail" src="~/Assets/images/users/2.jpg" />
                    </div><br />
                    <h5 style="text-align:center;" class="card-title">Biscuits</h5>
                    <h3>45.00</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row" id="bev">
    <div class="col-lg-3">
        <div class="card">
            <a>
                <div class="">
                    <div class="">
                        <img class="img-thumbnail" src="~/Assets/images/users/2.jpg" />
                    </div><br />
                    <h5 style="text-align:center;" class="card-title">Coca cola</h5>
                    <h3>45.00</h3>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row" id="sta">
    <div class="col-lg-3">
        <div class="card">
            <a onclick="DO(this)">
                <div class="">
                    <div class="">
                        <img class="img-thumbnail" src="~/Assets/images/users/2.jpg" />
                    </div><br />
                    <h5 style="text-align:center;" class="card-title">Books</h5>
                    <h3>65.00</h3>
                </div>
            </a>
        </div>
    </div>
</div>*@
