﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .products-div-scroll {
        height: 400px !important;
        overflow: scroll;
    }
</style>

<div class="row">
    <div class="col-md-4">

        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div id="cartListDiv" class="table-responsive">
                        @Html.Action("CartList", "POS")
                        

                    </div>
                    <hr />

                    <div class="table-responsive" id="cartSummery">
                        @Html.Action("CartSummery", "POS")

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-block">
                    <div class="">
                        <br />
                        <div class="col-md-12">
                            <div class="">
                                <a onclick="clearCart()" class="btn btn-lg btn-danger"><i class="fa fa-remove"></i> Clear Cart List </a>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="">
                                <a href="@Url.Action("Index","Customer")" class="btn btn-lg btn-primary"><i class="fa fa-user-circle-o"></i> @ViewBag.SelectedCustomer</a>
                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="">
                                <a href="@Url.Action("Index","Payment")" class="btn btn-lg btn-success"><i class="fa fa-check"></i> Go to Payment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-block">
                <div class="col-md-12">
                    <div class="breadcrumb bc-colored  bg-info">
                        <div class="input-group">
                            <input type="text" class="form-control" name="searchKey" placeholder="Search for products...">
                            <span class="input-group-btn">
                                <button onclick="searchProducts()" class="btn btn-info" type="button">Go!</button>
                            </span>
                        </div>


                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("Categories", "POS")
            
        </div>
        <div class="card">
            <div class="card-block">
                
                <div class="products-div-scroll" id="loadSelectedProductsDiv">
                    @Html.Action("LoadSelectedProducts", "POS")
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


    });
    var selectedCategoryId = '';
    function loadProductsForThisId(e) {

        selectedCategoryId = e.id;

        $.get( '@Url.Action("LoadSelectedProducts", "POS")?catId=' + e.id, function (data) {
                $('#loadSelectedProductsDiv').html(data);
            });
    }
    function cartSummery() {

        $.get('@Url.Action("CartSummery", "POS")' , function (data) {
            $('#cartSummery').html(data);
            });
        }
    function clearCart() {

        $.get('@Url.Action("ClearCart", "POS")' , function (data) {
            $('#cartListDiv').html(data);
            cartSummery()
        });

        

        }
    function searchProducts() {
        var searchKey = $("input[name='searchKey']").val();

        $.get('@Url.Action("SearchProducts", "POS")?catId=' + selectedCategoryId + '&searchKey=' + searchKey , function (data) {
                $('#loadSelectedProductsDiv').html(data);
            });
        }

    function addThisProductToCart(e) {
        $.get('@Url.Action("AddToCartList", "POS")?SessionId=&ProductId=' + e.id, function (data) {
            $('#cartListDiv').html(data);
            cartSummery()
        });
        
    }
    //removeItem
    function removeItem(e) {
        $.get('@Url.Action("RemoveFromCartList", "POS")?productItemId=' + e.id, function (data) {
            $('#cartListDiv').html(data);
            cartSummery()
        });
        
    }

</script>