﻿@using PagedList.Mvc
@model PagedList.IPagedList<Codezync.Pos.Data.ViewModels.ProductViewModel>


<div class="row" style="margin-bottom:10px">
    <div class="col-md-12 col-xs-12">


        @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { @class = "form-inline" }))
        {



            @Html.AntiForgeryToken()


            <label for="SearchString">Filter&nbsp;&nbsp;&nbsp;</label>
                            <input type="text" class="form-control" id="SearchString" name="SearchString" value="@ViewBag.SearchString">



                            <label for="SearchBy"> By:</label>
                            @Html.DropDownList("SearchBy", null, htmlAttributes: new { @class = "form-control" })




                            <label for="Owner"> By Category:</label>
                            @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "All")



                            <div>
                                <div class="col-md-1"></div>
                                <button type="submit" class="btn btn-primary" style="margin:5px">Go!</button>
                                @Html.ActionLink("Reset", "Index", null, new { @class = "btn btn-primary" })
                                <a class="btn btn btn-success" href="@Url.Action("Create","Product")">Create Product</a>
                            </div>

        }

    </div>
</div>


<div class="table-responsive">
    <table class="table color-table primary-table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Is Active
                </th>
                <th>
                    Added date
                </th>

                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        <a href="@Url.Action( "Edit", new { id = item.Id })" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i></a>
                        <a href="@Url.Action( "Delete", new { id = item.Id })" data-toggle="tooltip" data-original-title="Delete"> <i class="fa fa-close text-danger"></i></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>



</div>

  Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount (Total: @Model.TotalItemCount)

@Html.PagedListPager(Model, page => Url.Action("", new { page = page, filter = ViewBag.Filter, SearchString = ViewBag.SearchString, SearchBy = ViewBag.SearchByString, ProductCategoryId = ViewBag.ProductCategory }))


