﻿@model Codezync.Pos.Data.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="card">

            <div class="card-block">
                <h2>Create Product</h2>

                @using (Html.BeginForm((string)ViewBag.Action, "Product", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-horizontal">
                        <div class="row">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-6">
                                @if (ViewBag.Action == "Edit" || ViewBag.Action == "Delete")
                                {
                                    @Html.HiddenFor(model => model.CreatedDate)
                                    @Html.HiddenFor(model => model.UpdatedDate)
                                }
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Code)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    @Html.Label("", htmlAttributes: new { @class = "col-form-label" })
                                    <div class="input-group">
                                        @*@Html.DropDownList("ProdctCategoryId", (MultiSelectList)ViewBag.Categories, htmlAttributes: new { @class = "custom-select col-md-7 col-xs-12" }, new {  multiple = "multiple" })*@
                                        @Html.DropDownList("SelectedCategoryIds", (MultiSelectList)ViewBag.Categories, new { @class = "form-control custom-select col-md-7 col-xs-12", multiple = "multiple", size = 4 })
                                        @*<select  id="ProdctCategoryId" name="ProdctCategoryId" class="selectpicker" multiple data-style="form-control btn-secondary">
                </select>*@
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-offset-3 col-md-10">
                                        <input type="submit" value=@(string.IsNullOrEmpty(ViewBag.Action)?"Add":ViewBag.Action) class="btn btn-success" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                

                                <br />
                                <div class="form-group ">
                                    <input type="file" id="product-image-upload" class="form-control" name="file" />
                                    <img id="product-image" 
                                         src="@(string.IsNullOrEmpty(Model.ImageUrl) == true ? "/Assets/images/placeholder_600x450.jpg": Model.ImageUrl)" 
                                         style="width:100px;" class="img-thumbnail"  />
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input" })
                                            @*@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })*@
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Is Active</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Price)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Unit)
                                    <div class="input-group">
                                        @Html.DropDownList("UnitId", (SelectList)ViewBag.Units, new { @class = "form-control custom-select col-md-7 col-xs-12"})
                                        @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                }
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>

<script>

    $('#product-image-upload').hide();
    $('#product-image').on('click', function () {
        $('#product-image-upload').click();
    });
    $("#product-image-upload").change(function () {
        readURL(this);
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#product-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>