﻿@model Codezync.Pos.Data.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <div class="card">

            <div class="card-block">
                <h2>Delete This Product</h2>

                @using (Html.BeginForm("Delete", "Product", FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="row">
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="col-md-6">
                                @Html.HiddenFor(model => model.CreatedDate)
                                @Html.HiddenFor(model => model.UpdatedDate)
                                @Html.HiddenFor(model => model.ImageUrl)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Code)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description)
                                    <div class="input-group">
                                        @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="form-check">
                                        <label class="custom-control custom-checkbox">
                                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "custom-control-input", @readonly = "readonly" })
                                            @*@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })*@
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Is Active</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class=" col-md-6">
                                        <input type="submit" value="Delete" class="btn btn-success" />
                                    </div>
                                    <div class="col-md-6">
                                        <a href="@Url.Action("Index","Product")" value="Cancel" class="btn btn-danger">Cancel</a>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    @*@Html.Label("ProductCategory", htmlAttributes: new { @class = "col-form-label" })*@
                                    @*<div class="input-group">
                                        @Html.DropDownList("ProductCategory2", (SelectList)ViewBag.ProductCategory2, htmlAttributes: new { @class = "custom-select col-md-7 col-xs-12" }, optionLabel: "Select a Vehicle Type")

                                    </div>*@
                                </div>


                                <div class="form-group ">
                                    <img id="product-image" 
                                         src="@(string.IsNullOrEmpty(Model.ImageUrl) == true ? "/Assets/images/placeholder_600x450.jpg": Model.ImageUrl)" 
                                         style="width:100px;" class="img-thumbnail"  />
                                </div>
                                
                            </div>
                        </div>

                    </div>


                }
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>
</div>



<script>
    $('#product-image-upload').hide();
    $('#product-image').on('click', function () {
        $('#product-image-upload').click();
    });
    $("#product-image-upload").change(function () {
        readURL(this);
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#product-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>