﻿@{
    ViewBag.Title = "Index";

}


<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="card">

            <div class="card-block">

                <h4 class="card-title">Product List</h4>
                <h6 class="card-subtitle"> List of available products </h6>
                <div class="clearfix"></div>

                <br />
                @Html.Action("List", "Product")
            </div>
        </div>


    </div>

</div>




