﻿@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />

@*first row*@
<div class="row">
    <div class="col-md-3">        
    </div>
    <!-- Column -->
    <div class="col-md-3">
        <a href="@Url.Action("Index","POS")">
            <div class="card card-inverse card-success">
                <div class="box text-center">
                    <h1 class="font-light text-white">Point Of Sales</h1>
                    <h6 class="text-white">Point Of Sales</h6>
                </div>
            </div>
        </a>
       
    </div>
    <!-- Column -->
    <div class="col-md-3">
        <a href="@Url.Action("Index","Admin")">
            <div class="card card-inverse card-warning">
                <div class="box text-center">
                    <h1 class="font-light text-white">Administration</h1>
                    <h6 class="text-white">Manage the system</h6>
                </div>
            </div>
        </a>
        
    </div>
    <div class="col-md-3">
    </div>
</div>
@*second row*@
<div class="row">
    

    <div class="col-md-3">
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">

        <a href="#">
            <div class="card card-inverse card-info">
                <div class="box bg-info text-center">
                    <h1 class="font-light text-white">Reports</h1>
                    <h6 class="text-white">Generate repoerts</h6>
                </div>
            </div>
        </a>
        
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3 col-xlg-3">

        <a href="#">
            <div class="card card-primary card-inverse">
                <div class="box text-center">
                    <h1 class="font-light text-white">Analytics</h1>
                    <h6 class="text-white">Analyse your business</h6>
                </div>
            </div>
        </a>
        
    </div>
    <div class="col-md-3">
    </div>
</div>



