﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>

    <div ng-app="" class="row">
        <input type="text" ng-model="name" />
        {{name}}
    </div>

    @for (var i = 0; i < ViewBag.Donuts; i++)
    {
        <p>Mmm, donuts...</p>
    }
    
</div>

