﻿@model Codezync.Pos.Data.ViewModels.RoleViewModel



<div class="card">
    <div class="card-block">
        <h4 class="card-title">Add/ Edit/ Delete User roles</h4>
        <h6 class="card-subtitle">Select the role from the list to edit</h6>
        @using (Html.BeginForm((string)ViewBag.Action, "Role", FormMethod.Post, new { @class = "form p-t-20" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name)
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="text-left">
                <button type="submit" value=@(string.IsNullOrEmpty(ViewBag.Action)?"Add":ViewBag.Action) class="btn btn-success waves-effect waves-light m-r-10">@(string.IsNullOrEmpty(ViewBag.Action) ? "Add" : ViewBag.Action)</button>
            </div>
        }

    </div>
</div>

