﻿@model IEnumerable <Codezync.Pos.Data.ViewModels.RoleViewModel>

<div class="card">
    <div class="card-block">
        <h4 class="card-title">User Roles</h4>
        <h6 class="card-subtitle">Select role to edit</h6>
        <div class="table-responsive">
            <table class="table color-table primary-table">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th>No of Users</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <Td>@Html.DisplayFor(modelItem => item.NumberOfUsers)</Td>
                            <td>
                                <a href="@Url.Action("Edit", "Role", new {id = item.Id})" data-toggle="tooltip" data-original-title="Edit">
                                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Role", new {id = item.Id})" data-toggle="tooltip" data-original-title="Close">
                                    <i class="fa fa-close text-danger"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

