﻿@model Codezync.Pos.Data.ViewModels.RoleViewModel


<div class="row">
    <div class="col-lg-6">
        @Html.Action("List")
    </div>
    <div class="col-lg-6">
        @{Html.RenderPartial("_CreateEditPartial");}
    </div>
</div>

